h1{
    font-family: 'Courier New', Courier, monospace;
    color: aqua;
}

#perros{
    color: blue;
    border: 5px;border-style: dotted;
}

.estiloCompartido{
    color: chocolate;
    border: 5px;border-style: solid;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}

p{
    color: darkblue;
    border: 1px; border-style: solid;
}